body {
  margin: 0;
  padding: 0;
  text-align: center; }

.container {
  margin: 20px auto;
  max-width: 1200px;
  text-align: center;
  display: grid;
  grid-template-columns: 33% 33% 33%; }
  .container .mobile-view {
    margin: 2spx;
    width: 375px;
    height: 667px;
    background: linear-gradient(to bottom, #261758, purple);
    border-radius: 10px; }
    .container .mobile-view #avatar {
      margin-top: 35px;
      margin-bottom: 5px;
      width: 200px;
      height: 200px; }
    .container .mobile-view .swipe-bg {
      height: 60px;
      background-color: white;
      width: 358px;
      margin: 10px auto 0 auto;
      border-radius: 10px; }
      .container .mobile-view .swipe-bg .sub-but {
        margin: 8px 2px -2px 2px;
        background-color: #580068;
        border: 0;
        padding: 8px;
        border-radius: 6px;
        width: 300px;
        font-family: "Nunito", sans-serif;
        font-size: 20px;
        color: white;
        font-weight: bold;
        letter-spacing: 3px; }
      .container .mobile-view .swipe-bg .sub-but:hover {
        cursor: pointer; }
    .container .mobile-view .info-bg {
      background-color: white;
      width: 340px;
      height: 295px;
      margin: 20px auto;
      border-radius: 10px;
      overflow: scroll;
      text-align: left;
      padding: 10px 10px 10px 10px; }
      .container .mobile-view .info-bg .filter-div {
        text-align: center; }
      .container .mobile-view .info-bg h3 {
        color: #63006D;
        font-family: "Nunito", sans-serif;
        margin: 0px 20px 3px 16px;
        border-radius: 6px;
        letter-spacing: 2px;
        padding-top: 2px; }
      .container .mobile-view .info-bg .sub-but {
        margin: 10px 18px -2px 16px;
        background-color: #84007B;
        border: 0;
        padding: 8px;
        border-radius: 6px;
        width: 305px;
        font-family: "Nunito", sans-serif;
        font-size: 32px;
        color: white;
        font-weight: bold;
        letter-spacing: 4px; }
      .container .mobile-view .info-bg .sub-but:hover {
        cursor: pointer; }
      .container .mobile-view .info-bg h4 {
        padding: 8px 10px;
        font-size: 14px;
        color: purple;
        border-radius: 8px;
        margin: 0;
        margin-right: 10px;
        font-family: "Nunito", sans-serif;
        letter-spacing: 2px; }

#factors-disp {
  display: flex; }
  #factors-disp #factors {
    width: 110px; }
  #factors-disp #factors-answ .fact-span {
    display: inline-block;
    height: 38px;
    padding-top: 0.5px; }
    #factors-disp #factors-answ .fact-span .slider {
      margin-top: 15px;
      -webkit-appearance: none;
      height: 6px;
      width: 150px;
      background: purple; }
    #factors-disp #factors-answ .fact-span .ans-icon {
      width: 40px;
      margin: 0 6px;
      opacity: 0.7; }
    #factors-disp #factors-answ .fact-span .ans-icon:hover {
      cursor: pointer;
      opacity: 1; }

.fact-span > h4 {
  height: 29px; }

::-webkit-scrollbar {
  width: 0px;
  background: transparent; }

#age-dis {
  display: inline-block;
  position: relative;
  top: 4px; }

/*# sourceMappingURL=main.css.map */
